.loading-content {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 50%;
    /* Ekranın dikey ortasına getir */
    left: 50%;
    /* Ekranın yatay ortasına getir */
    transform: translate(-50%, -50%);
    /* İçeriği tam ortalamak için */
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    display: flex;
    /* İçeriği dikey ve yatay ortalamak için */
    justify-content: center;
    /* Yatay ortala */
    align-items: center;
    /* Dikey ortala */

    .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .loading-spinner {

            width: 48px;
            height: 48px;
            border: 5px solid #424242;
            border-bottom-color: #FF3D00;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            animation: rotation 1s linear infinite;
        }

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }


        }
    }
}