$primary-bg-color: #232323;
.sidebar{
    display: flex;
    flex-direction: column;   
    padding: 20px;
    .header{
        display: flex;
        align-items: center;
        gap: 10px;    
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .sidebar-menu{
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        .sidebar-item{
            display: flex;
            align-items: center;
            gap: 10px;
            
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 10px;
            color: #737373;
            font-size: 12px;
            transition: background-color 0.3s, transform 0.2s;

            &:hover {
                background-color: $primary-bg-color; // Daha açık bir arka plan
                transform: scale(1.01); // Küçük bir büyütme efekti
                cursor: pointer;
                color: white;
            }
            &.selected {
                background-color: $primary-bg-color;
                color: white; /* Tıklanıldığında arka plan rengi */
              }
        }
    }

}